body{
    margin: 0;
    padding: 0;
   overflow-x:hidden;
}

.top-banner{
    background: #264653;
}
.btn-color{
    background: #E76F51;
}

.grayscale{
    filter: grayscale(100%);
}
.text-color{
color: #E76F51;
}
.card-size{
    width: 323px;}
.filled{
  color:#E77C40;}